		<style>
			.box{
				font-size:14px;
				position:relative;
				display: inline-block;
				width: 180px;
				height: 180px;
				margin:10px;
				text-align: center;	
				float:left;
				top:0px;
 				background-repeat: no-repeat;
			    background-position: center; 
				background-size:cover;
							
			}
			.box1{
				background-image: url('img/koreanmelon.jpg');
			}
			.cart{
				font-size:40px;
				position: absolute;
				right: 10px;
				bottom: 10px;			
			}
		</style>

<ion-view view-title="과일보기">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">제철과일(3)</div>
      <div class="item item-body">
		<ion-scroll direction="x" style="width: 100%; height:200px;">
			<div style="width:600px; height:200px; font-size:0;">
				<a href="#/tab/showroom/12">
					<span class="box box1">
				  	<div style="position:absolute; bottom:0px; width:100%; text-align:right;">
						<span class="bs-label bg-info">3000원 ea</span>
						<span class="bs-label bg-info">15000원 box(6개)</span>
					</div>
					</span>	
				</a>	
				<span class="box" style="background-image: url('img/grapes.jpg');">
				  	<div style="position:absolute; bottom:0px; width:100%; text-align:right;">
						<span class="bs-label bg-info">1000원 ea</span>
						<span class="bs-label bg-info">5000원 box(6개)</span>
					</div>
				</span>	
				<span class="box" style="background-image: url('img/watermelon.jpg');">
				  	<div style="position:absolute; bottom:0px; width:100%; text-align:right;">
						<span class="bs-label bg-info">10000원 ea</span>
					</div>
				</span>	
			</div>
		</ion-scroll>

      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">하우스과일(3)</div>
      <div class="item item-body">
		<ion-scroll direction="x" style="width: 100%; height:200px;">
			<div style="width:600px; height:200px; font-size:0;">
				<a href="#/tab/showroom/12">
					<span class="box" style="background-image: url('img/strawberries.jpeg');">
				  	<div style="position:absolute; bottom:0px; width:100%; text-align:right;">
							<span class="bs-label bg-info">5000원 box(300g)</span>
						</div>
					</span>

				</a>	
				<span class="box" style="background-image: url('img/apples.jpeg');">
				  	<div style="position:absolute; bottom:0px; width:100%; text-align:right;">
						<span class="bs-label bg-info">1000원 ea</span>
						<span class="bs-label bg-info">5000원 box(6개)</span>
					</div>
				</span>	
				<span class="box" style="background-image: url('img/cherrytomato.jpeg');">
				  	<div style="position:absolute; bottom:0px; width:100%; text-align:right;">
						<span class="bs-label bg-info">5000원 box(500g)</span>
					</div>
				</span>	
			</div>
		</ion-scroll>

      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">수입과일(2)</div>
      <div class="item item-body">
		<ion-scroll direction="x" style="width: 100%; height:200px;">
			<div style="width:600px; height:200px; font-size:0;">
				<span class="box" style="background-image: url('img/mango.png');">
				  	<div style="position:absolute; bottom:0px; width:100%; text-align:right;">
						<span class="bs-label bg-info">5000원 ea</span>
						<span class="bs-label bg-info">20000원 box(5개)</span>
					</div>
				</span>	
				<span class="box" style="background-image: url('img/oranges.jpg');">
				  	<div style="position:absolute; bottom:0px; width:100%; text-align:right;">
						<span class="bs-label bg-info">1000원 ea</span>
						<span class="bs-label bg-info">5000원 box(6개)</span>
					</div>
				</span>	
			</div>
		</ion-scroll>

      </div>
    </div>
  </ion-content>
</ion-view>
