  <ion-modal-view>
    <ion-header-bar>
 	     <button
 	     	class="button button-clear button-assertive"
 	     	ng-click="cancelModal()" 
	     >취소</button>

     	<h1 class="title">정기배달하기</h1>
		<button 
			class="button button-clear button-assertive"
			ng-click="goPlanner()"
		><b>카트에담기</b></button>
      
    </ion-header-bar>
    <ion-content>
<div class="card">
  <div class="item item-text-wrap">
  	배달이 가능한 최소가격은 각회 5000원 이상입니다.<br/>
  	요일별 과일내용은 정기배달탭에서 확인하실 수 있습니다.
  </div>
</div>

     <ul class="list card"  ng-init="days = 0">
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="days" value='0'>
    <div class="item-content">
      월 금(8회)에 담기
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="group" ng-model="days" value='1'>
    <div class="item-content">
      월, 수, 금(12회)에 담기
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>


</ul>

</div>
    </ion-content>
  </ion-modal-view>