<ion-view view-title="{{fruit.name}}">
  <ion-content class="padding">

<div class="list card">
  <div class="item item-image">
    <img ng-src="{{fruit.img}}" width='100%'>
  	<div style="position:absolute; bottom:5px; width:100%">
  		<span class="bs-label bg-info">{{fruit.price}}원 ea</span>
  		<span ng-if="fruit.bundle" class="bs-label bg-info">{{fruit.price * fruit.bundle.number}}원 {{fruit.bundle.unit}}({{fruit.bundle.number}}개)</span>
  	</div>
  </div>
  <div class="item item-avatar item-text-wrap">
	<img src="https://pbs.twimg.com/profile_images/514549811765211136/9SgAuHeY.png">
    <h2>장은태 & 김형균 청과점</h2>
    <p>{{fruit.description}}</p>
  </div>
	<div class="item assertive bold" style="padding:0">
		<div class="row">
			<div class="col">
					<label class="item item-input">
					  <span class="input-label">수량</span>
					  <input type="number"  value='1' min='1'>
					</label>
			</div>		 
			<div class="col">
				<label class="item item-input item-select">
				<div class="input-label">
					단위
				</div>
				<select>
				  <option selected>낱개</option>
				  <option>상자</option>
				</select>
				</label>
  			</div>		 
		</div>
	</div>		
  <a href="#" class="item item-icon-left" ng-click="openModal()">
    <i class="icon ion-android-calendar"></i>
    정기배달에 담기
  </a>
  <a class="item item-icon-left" href="#/tab/cart">
    <i class="icon ion-bag"></i>
    장바구니에 담기
  </a>
</div>

  </ion-content>
</ion-view>
