		<style>
			.box{
				font-size:14px;
				position:relative;
				display: inline-block;
				width: 180px;
				height: 180px;
				margin:10px;
				text-align: center;	
				float:left;
				top:0px;
 				background-repeat: no-repeat;
			    background-position: center; 
				background-size:cover;
							
			}
			.box1{
				background-image: url('img/koreanmelon.jpg');
			}
			.cart{
				font-size:40px;
				position: absolute;
				right: 10px;
				bottom: 10px;			
			}
		</style>

<ion-view view-title="과일보기">
  <ion-content class="padding">
    <div class="list card" ng-repeat="(type, items) in fruits">
      <div class="item item-divider">{{type}}({{items.length}})</div>
      <div class="item item-body">
		<ion-scroll direction="x" style="width: 100%; height:200px;">
			<div style="width:600px; height:200px; font-size:0;">
				<a ng-repeat="fruit in items" href="#/tab/showroom/{{fruit.id}}">
					<span class="box" ng-style="{'background-image': 'url('+fruit.img+')'}">
				  	<div style="position:absolute; bottom:0px; width:100%; text-align:right;">
						<span class="bs-label bg-info">{{fruit.price}} ea</span>
						<span ng-if="fruit.bundle" class="bs-label bg-info">{{fruit.bundle.unit}}({{fruit.bundle.number}})</span>
					</div>
					</span>	
				</a>	
			</div>
		</ion-scroll>

      </div>
    </div>
  </ion-content>
</ion-view>
